<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="192.168.0.12"/>
    <arg name="image_topic" default="/camera/color/image_raw"/>
    <arg name="camera_info_topic" default="/camera/color/camera_info" />

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    </include>

    <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    </include>

    <include file="$(find flexbe_app)/launch/flexbe_full.launch" output="screen">
    </include>

    <node pkg="visp_hand2eye_calibration" type="visp_hand2eye_calibration_calibrator" name="visp_hand2eye_calibration_calibrator">
    </node>
    <include file="$(find charuco_detector)/launch/charuco_detector.launch">
        <arg name="image_topic" value="$(arg image_topic)" />
        <arg name="camera_info_topic" value="$(arg camera_info_topic)" />
    </include>
    <node pkg="rviz" type="rviz" name="rviz">
    </node>
</launch>
